@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900');

body {
    text-align:center;
    font-family:"Noto Sans"
}
#container {
    text-align:center;
    width:70%;
    margin: 0px auto;
}
#slideshow {
    width:200px;
    height:200px;
}
