body {
    height: 200px;
    background: beige;
  }
.dot {
    height: 8px; width: 8px;
    border-radius: 4px; /* rounds corners */
    background: blue;
    position: absolute;
}
input {
    width: 40px;
}
p {
    padding: 5px;
}
